# Compiled Object files
*.slo
*.lo
*.o
*.obj
.depend
*.bin
*.user
medianfilter
Debug/
MedianFilterSerial.opensdf
MedianFilterSerial.sdf
MedianFilterSerial.sln
MedianFilterSerial.v12.suo
MedianFilterSerial.vcxproj
MedianFilterSerial.vcxproj.filters
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
